{
    "folders": [
        {
            "path": "."
        }
    ],
    "settings": {
        "java.compile.nullAnalysis.mode": "automatic",
        "java.completion.importOrder": [
            "java",
            "javax",
            "com",
            "org"
        ],
        "java.configuration.runtimes": [
            {
                "name": "JavaSE-21",
                "path": "{set your JDK path here}",
                "default": true
            }
        ],
        "java.configuration.updateBuildConfiguration": "automatic",
        "java.inlayHints.parameterNames.enabled": "all",
        "java.jdt.ls.java.home": "{set your JDK path here}",
        "terminal.integrated.env.windows": {
            "JAVA_HOME": "${workspaceFolder}/.jdks/jdk-21",
            "PATH": "${workspaceFolder}/.jdks/jdk-21/bin;${env:Path}"
        }
    }
}
